.panel_wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.panel{
    width: 100%;
    background-color: var(--color-white);
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}