.hat_wrapper{
    position: fixed;
    width: 100%;
    background-color: var(--color-white);
}

.hat{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;
}

.hat_item{
    color: var(--color-text)
}