.input {
    color: var(--color-very-dark-gray);
    border: none;
    border-radius: 0.1rem;
    background: var(--color-white);
    outline: none;
    margin: 0.5rem 0;
    font-size: 16px;
    padding: 0.2rem;
    width: 250px;
    border-radius: 0.1rem;
}

.label{
    color: var(--color-blue)
}

.input, .label{
    display: block;
}