.input {
    color: var(--color-text);
    border: none;
    border-radius: 0.1rem;
    background: var(--color-white);
    outline: none;
    margin: 0.5rem 0;
    max-width: 300px;
    font-size: 16px;
    padding: 0.2rem;
}