:root{
  --color-light-gray: #f8f8f8;
  --color-gray: #f1f1f1;
  --color-dark-gray: #747475;
  --color-very-dark-gray: #27262E;
  --color-white: #ffffff;
  --color-blue: #0047FF;
  --color-text: #7A797D;
  --color-dark-blue: #1a1e25;
  --color-button-bg: var(--color-white);
  --color-button-text: var(--color-blue);
  --color-button-hov: var(--color-blue);
  --color-button-text-hov: var(--color-white);
  --color-link-text: var(--color-text);
  --color-link-text-active: var(--color-blue);
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.container{
  padding: 3rem 6rem;
}